<html>
	<head>
		
	</head>
	<body>
		<label>Guayaquil, Octubre 6,2020</label><br>
		<label>Senor Representante: CORREA ORDENANA MANUEL</label><br>
		<label>del estudiante: CORREA AGUILAR ALICE CLARISSA</label><br>
		<label >Curso: 1.B &nbsp; &nbsp; Paralelo: A</label><br>
		Recordamos a Ud., que sus obligaciones con la Institucion se encuentran vencidas en los meses de: 

		<table>
			<tr>
				<td></td>
			</tr>
		</table>

	</body>
	<footer>
		<label>Agosto 2020</label> <br>
		<label>Septiembre 2020</label> <br>
	</footer>



</html>